@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,700i,800,800i&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 1000px;
  /* background-color: #000; */
}
h3 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
}
p {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background-color: #000;
  text-decoration: none;
  color: #fff;
  transition: 0.6s;
}
.btn:hover {
  background-color: #fff;
  text-decoration: none;
  color: #000;
  border: 1px solid #ddd;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  z-index: 100;
  transition: all 0.6s;
}
header.sticky {
  padding: 5px 100px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header .logo {
  position: relative;
  font-weight: 700;
  /* background-color: #fff; */

  width: 60px;
  height: 60px;
}
header .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background-color: #fff; */
  /* color: #fff; */
  filter: invert(200%);
}
header.sticky .logo img {
  filter: invert(0%);
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 300;
  transition: 0.6s;
}
header.sticky ul li a {
  color: #000;
}
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./Images/bg2.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h2 {
  color: #fff;
  font-size: 90px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
}
.banner span {
  color: #4978ff;
}
.sec {
  background-color: #fff;
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec .content {
  position: relative;
  text-align: center;
  width: 100%;
}
.mxw800px {
  max-width: 800px;
  margin: 0 auto;
}
.services {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}
.services .box {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
  transition: 0.6s;
}

.services .box .iconBx {
  margin-top: 25px;
}
.services .box .iconBx img {
  max-width: 70px;
  margin-bottom: 15px;
}

.services .box h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.services .box p {
  text-align: center;
}
.services .box.active {
  background-color: #4976ff;
  transition: 0.6s;
}
.services .box:hover {
  background-color: #4976ff;
}
.services .box.active:hover {
  background-color: #fff;
}
.services .box.active .iconBx img {
  filter: invert(100%);
}
.services .box:hover .iconBx img {
  filter: invert(100%);
}
.services .box.active:hover .iconBx img {
  filter: invert(0%);
}
.services .box.active h2,
.services .box.active p {
  color: #fff;
}
.services .box:hover h2,
.services .box:hover p {
  color: #fff;
}
.services .box.active:hover h2,
.services .box.active:hover p {
  color: #000;
}
.stats {
  background-color: #000;
  padding-top: 250px;
  margin-top: -250px;
}
.stats h3,
.stats p {
  color: #fff;
}
.statsBox {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  max-width: 100%;
  margin-top: 40px;
}
.statsBox h2 {
  color: #fff;
  font-size: 36px;
}
.statsBox h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.workBx {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}
.workBx .brand {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(./Images/bg2.jpg);

  /* background: url(./Images/bg2.jpg); */
  background-size: cover;
  background-position: center;
  min-height: 300px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
  transition: all 0.6s;
}
.workBx .brand:hover {
  filter: grayscale(5);
}
.workBx .brand a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  transform: translateY(-510%);
  transition: all 0.6s;
}
.workBx .brand:hover a {
  color: rgba(255, 255, 255, 0.99);
  transform: translateY(0%);
}
.teamBx {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}
.teamBx .member {
  position: relative;
  background-color: #000;
  min-height: 300px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teamBx .member .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.teamBx .member .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.teamBx .member .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  transition: 0.6s;
  opacity: 0;
}
.teamBx .member .details:hover {
  opacity: 0.7;
}
.teamBx .member .details h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1;
}

.teamBx .member .details h2 span {
  display: block;
  font-size: 12px;
  font-weight: 300;
}
.contact {
  /* background-color: #000; */
  padding-bottom: 0;
}
.contact h3,
.contact p {
  color: #000;
}
.contactForm {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
}
.contactForm form {
  width: 100%;
}
.contactForm form .row100 {
  display: flex;
  width: 100%;
}
.contactForm form .row100 .inputBx50 {
  width: 50%;
  margin: 0 20px;
}
.contactForm form .row100 .inputBx100 {
  width: 100%;
  margin: 0 20px;
}
.contactForm form .row100 input,
.contactForm form .row100 textarea {
  position: relative;
  border: none;
  border-bottom: 1px solid #000;
  color: #000;
  background-color: transparent;
  width: 100%;
  padding-top: 10px 0;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  margin: 20px 0;
  resize: none;
}
.contactForm form .row100 textarea {
  height: 100px;
}
.contactForm form .row100 textarea::placeholder,
.contactForm form .row100 input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.contactForm form .row100 input[type="submit"] {
  background-color: #000;
  color: #fff;
  max-width: 100px;
  margin: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.6s;
}
.contactForm form .row100 input[type="submit"]:hover {
  background-color: #fff;
  color: #000;
}

/* ------------------------------ Responsive CSS */
.toggle {
  display: none;
}
@media (max-width: 992px) {
  .toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .toggle::before {
    content: "";
    position: absolute;
    top: 4px;
    width: 100%;
    height: 2px;
    background-color: #000;
    z-index: 1111;
    box-shadow: 0 10px 0 #000;
    transition: 0.6s;
  }
  .toggle::after {
    content: "";
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background-color: #000;
    z-index: 1111;
    /* box-shadow: 0 10px 0 #fff; */
    transition: 0.6s;
  }
  header {
    padding: 5px 50px;
    background-color: #fff;
  }
  header .logo img {
    filter: invert(0%);
  }
  header ul li a {
    color: #000;
  }
  header ul {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: auto;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
  }
  header.activee ul {
    visibility: visible;
    opacity: 1;
    display: block;
    padding-top: 20px;
  }
  header.activee ul li a {
    margin: 10px 0;
    font-size: 20px;
    display: inline-block;
  }
  .banner {
    background-position: center;
  }
  .banner h2 {
    font-size: 50px;
    padding: 0 50px;
  }
  .sec {
    padding: 100px 50px 50px 50px;
  }
  .services .box {
    width: 100%;
  }
  .stats {
    padding-top: 250px;
  }
  .row100 {
    flex-direction: column;
  }
  .contactForm form .row100 .inputBx50,
  .contactForm form .row100 .inputBx100 {
    width: 100%;
    margin: 0;
  }
  h3 {
    font-size: 36px;
  }
}

/* ------------------------------ Responsive CSS */
